@page
@model BBWebProject.Pages.Issues.IndexModel
@{
}
<!-- Begin Page Content -->
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div style="font-size:0.8rem;" class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Non Variated Items
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.NonVariatedItems</div>
                        </div>
                        <div class="col-auto">
                        <i class="fas fa-th-large fa-2x text-gray-300"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                        <div style="font-size:0.8rem;" class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Variated Items
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.VariatedItems</div>
                        </div>
                        <div class="col-auto">
                        <i class="fas fa-list fa-2x text-gray-300"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                        <div style="font-size:0.8rem;" class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Categories
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@Model.Categories</div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-auto">
                        <i class="fas fa-folder fa-2x text-gray-300"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                        <div style="font-size:0.8rem;" class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Chiefs
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.Chiefs</div>
                        </div>
                    <div class="col-auto">
                        <i class="fas fa-utensils fa-2x text-gray-300"></i>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

       

        <!-- Pie Chart -->
     
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
         
        <div class="col-lg-12 mb-4">

            <!-- Illustrations -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Precautions</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" 
                         src="https://startbootstrap.github.io/startbootstrap-sb-admin-2/img/undraw_posting_photo.svg" height="200px" width="200px" alt="...">
                    </div>
                <h4>Precautions for Managing and Using the Admin Panel Bar & Bite</h4>
                <ul>
                    <li>Log Out After Use: Always log out of the admin panel when you're done, especially on shared or public computers.</li>
                    <li>Keep Passwords Confidential: Never share your password with anyone. Change it regularly.</li>
                    <li>Limit Access: Only give admin access to trusted personnel who need it.</li>
                    <li>Be Cautious with Emails: Avoid clicking on suspicious links or downloading attachments from unknown sources.</li>
                    <li>Use Strong Passwords: Ensure your password is a mix of letters, numbers, and special characters.</li>
                    <li>Monitor Activity: Frequently review the activity logs to spot any unusual behavior.</li>
                    <li>Educate Staff: Train your team on the importance of security practices and how to use the admin panel safely.</li>
                </ul>

                <h4>If you have any queries about IT, contact us:</h4>
                <ul>
                    <li><strong>Organization:</strong> Maqbool Digital Services</li>
                    <li><strong>Location:</strong> Industrial Area, Kotli, Azad Kashmir</li>
                    <li><strong>Contact:</strong> 123456</li>
                    <li><strong>Email:</strong> maqbool@gmail.com</li>
                </ul>
                </div>
            </div>

            <!-- Approach -->
            

        </div>
    </div>

</div>
<!-- /.container-fluid -->
<!-- End of Main Content -->